$contentBackground: #ffffff;
$textColor: #000000;
$fontSize: 15px;
$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontWeight: 400;
$borderStyle: #607d8b solid 1px;
$backgroundImage: url("../img/header_background_v1.jpg");
$primeryColor: #01acac;
$headerTextColor: #ffffff;
$hoverButtonColor: darken( $primeryColor, 10% );
$articleBgColor: #efefef;
$headingColor: $primeryColor;
$articleDescriptionColor: #ff5722;